@mixin truncate {
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: start;
    align-content: center;
    position: relative;

    .user__cover {
        box-shadow: 2px 1px 6px 2px rgb(0 0 0 / 58%);
        margin-bottom: 1rem;
    }

}

.material-icons {
    transform: scale(1);
}

.truncate {
    @include truncate;
}

.user__detail-header {
    position: relative;
    display: flex;
    align-items: center;
    @include truncate;

    .detail-header__dots {
        flex-grow: 1;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        user-select: none;
        pointer-events: none;
        margin-left: 5px;
    }

    .detail-header__dots::after {
        content: "....................................................................................................";
        font-weight: 100;
        color: rgba(0, 0, 0, 0.1);
        white-space: nowrap;
        overflow: hidden;
        user-select: none;
        pointer-events: none;
        display: inline-block;
        width: 100%;
        position: absolute;
        left: 0;
    }
}

.user__detail-value {
    @include truncate;
}

::-webkit-scrollbar {
    width: 8px !important;
}