<div class="bg-zinc-50 body">
    <div class="flex flex-col border border-gray-200 rounded-lg">
        <div class="mx-8 mt-4 font-bold text-3xl text-gray-600">Statistics</div>
        <div class="rounded-lg flex flex-col">
            <ng-container *ngIf="statistics$ | async as item; else loading">
                <div class="statistics-wrapper">
                    <ng-container *ngTemplateOutlet="details;  context: { statistics: item}"></ng-container>
                    <app-statistics-chart [data]="item.orderAmountInDays"
                        class="md:absolute right-6 sm:w-full md:w-6/12"></app-statistics-chart>
                </div>
            </ng-container>
            <div class="w-full p-6">
                <app-book-statistics-filter (filterChange)="getShopStatistics($event)"></app-book-statistics-filter>
            </div>
        </div>
    </div>
</div>

<ng-template #details let-statistics="statistics">
    <div class="statistics mr-2 h-full w-full p-10 pt-0">
        <div class="w-full flex gap-10">
            <div class="h-full w-5/12 pt-5 flex">
                <div class="grow flex flex-col gap-1">
                    <div class="statistics__detail-header text-gray-400">
                        <span class="font-semibold">In Cart Copies (At The Moment)</span>
                        <span class="detail-header__dots">⠀</span>
                    </div>
                    <div class="statistics__detail-header text-gray-400">
                        <span class="font-semibold">In Order Copies</span>
                        <span class="detail-header__dots">⠀</span>
                    </div>
                    <div class="statistics__detail-header text-gray-400">
                        <span class="font-semibold">Sold Copies</span>
                        <span class="detail-header__dots">⠀</span>
                    </div>
                    <div class="statistics__detail-header text-gray-400">
                        <span class="font-semibold">Canceled Copies</span>
                        <span class="detail-header__dots">⠀</span>
                    </div>
                    <div class="statistics__detail-header text-gray-400">
                        <span class="font-semibold">Order Amount</span>
                        <span class="detail-header__dots">⠀</span>
                    </div>
                    <div class="statistics__detail-header text-gray-400">
                        <span class="font-semibold">Canceled Order Amount</span>
                        <span class="detail-header__dots">⠀</span>
                    </div>
                    <div class="statistics__detail-header text-gray-400">
                        <span class="font-semibold">Average Order Price</span>
                        <span class="detail-header__dots">⠀</span>
                    </div>
                    <div class="statistics__detail-header text-gray-400">
                        <span class="font-semibold">Earned Money</span>
                        <span class="detail-header__dots">⠀</span>
                    </div>
                </div>
                <div class="pl-2 flex flex-col gap-1">
                    <div class="statistics__detail-value text-gray-400 flex justify-between">
                        <span>{{ statistics.inCartCopies | placeholder }}</span>
                    </div>
                    <div class="statistics__detail-value text-gray-400 flex justify-between">
                        <span>{{ statistics.inOrderCopies | placeholder }}</span>
                    </div>
                    <div class="statistics__detail-value text-gray-400">
                        <span>{{ statistics.soldCopies | placeholder }}</span>
                    </div>
                    <div class="statistics__detail-value text-gray-400">
                        <span>{{ statistics.canceledCopies | placeholder }}</span>
                    </div>
                    <div class="statistics__detail-value text-gray-400">
                        <span>{{ statistics.orderAmount| placeholder }}</span>
                    </div>
                    <div class="statistics__detail-value text-gray-400">
                        <span>{{ statistics.canceledOrderAmount| placeholder }}</span>
                    </div>
                    <div class="statistics__detail-value text-gray-400">
                        <span>{{ applyCurrencyPipe(statistics.averagePrice) | placeholder }}</span>
                    </div>
                    <div class="statistics__detail-value text-gray-400">
                        <span>{{ applyCurrencyPipe(statistics.earnedMoney) | placeholder }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<!--Loading-->
<ng-template #loading>
    <div class="h-52">
        <app-loading></app-loading>
    </div>
</ng-template>