<div class="body__order bg-zinc-50">
    <ng-container *ngIf="client$ | async as client; else loading">
        <app-client-info [client]="client"></app-client-info>
        <ng-container *ngIf="items$ | async as items; else loading">
            <div class="content">
                <cdk-virtual-scroll-viewport #scroller [itemSize]="itemHeight" class="products"
                    [style.height.px]="calculateSelectionSize()">
                    <ng-container *cdkVirtualFor="let item of items; trackBy: trackById">
                        <div class="book-wrapper">
                            <div *ngTemplateOutlet="book; context: { cartBook: item }"></div>
                        </div>
                    </ng-container>
                </cdk-virtual-scroll-viewport>
            </div>
            <div class="actions__bottom-container flex-col">
                <div class="w-full flex justify-end">
                    <div class="flex items-center mt-6 gap-5 p-6 bg-green-600/20 rounded-md border border-green-500">
                        <span class="truncate text-2xl font-medium text-gray-800">
                            {{ applyCurrencyPipe(getTotalPrice(items)) }}
                        </span>
                        <button mat-flat-button id="send-button" form="authorDetails" type="submit"
                            (click)="makeOrder()" class="!bg-green-600 !text-base">
                            Confirm order
                        </button>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
    <ng-template #loading>
        <div class="loading-spinner-container">
            <mat-spinner diameter="80"></mat-spinner>
        </div>
    </ng-template>
</div>



<ng-template #book let-cartBook="cartBook">
    <div class="book mr-2 h-72 w-11/12 border border-gray-200 rounded-lg p-6">
        <div class="w-full flex justify-between items-center">
            <div class=" flex flex gap-5">
                <a class="book__cover hover:cursor-pointer" [href]="getBookPage(cartBook)">
                    <img class="h-42 w-24" crossorigin='anonymous' [src]="cartBook.book.coverImgUrl" alt="Book cover"
                        onerror="this.src='../../../../../assets/book_cover_placeholder.png';" />
                </a>
                <a class="h-full flex flex-col items-start pt-5">
                    <a class="book__name text-gray-700 font-bold truncate hover:cursor-pointer hover:underline hover:text-red-500"
                        [href]="getBookPage(cartBook)">
                        {{ cartBook.book.name }}
                    </a>
                    <div class="book__author text-gray-400 truncate">
                        {{ cartBook.book.author.name + ' '+ cartBook.book.author.lastName }}
                    </div>
                </a>
            </div>
            <div class="text-gray-700 truncate text-lg">
                {{ applyCurrencyPipe(cartBook.book.price) }} x {{cartBook.bookAmount}}
            </div>
            <div class="text-red-500 truncate font-bold text-lg">
                {{ applyCurrencyPipe(getCartBookPrice(cartBook)) }}
            </div>
        </div>
    </div>
</ng-template>