<button mat-icon-button mat-dialog-close class="close-button">
    <span class="material-icons">close</span>
</button>
<h2 mat-dialog-title>Add Contact Information</h2>

<mat-dialog-content>
    <form id="client" class="content__form space-y-1" [formGroup]="formGroup" (ngSubmit)="createClient()">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput type="text" autocomplete="client-name" formControlName="firstName" placeholder="John"
                maxlength="256">
            <mat-error *ngIf="nameInput.hasError('required')">Name is <strong>required</strong></mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Middle Name</mat-label>
            <input matInput type="text" autocomplete="client-middle-name" formControlName="middleName"
                placeholder="Michael" maxlength="256">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput type="text" autocomplete="client-last-name" formControlName="lastName" placeholder="Doe"
                maxlength="256">
            <mat-error *ngIf="nameInput.hasError('required')">Last Name is <strong>required</strong></mat-error>
        </mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="text" autocomplete="client-email" formControlName="email" placeholder="example@gmail.com"
            maxlength="256">
        <mat-error *ngIf="emailInput.hasError('required')">Email is <strong>required.</strong></mat-error>
        <mat-form-field>
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" [readonly]="true">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="dateOfBirthInput.hasError('required')">Date of birth is
                <strong>required</strong></mat-error>
            <mat-error *ngIf="dateOfBirthInput.hasError('invalidDateOfBirth')">
                Date of birth must be <strong>in the past</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput type="text" formControlName="client-address" placeholder="123 Main St" maxlength="256">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Phone</mat-label>
            <input matInput type="phone" formControlName="client-phone" placeholder="+3801234567" maxlength="256">
        </mat-form-field>
    </form>
</mat-dialog-content>