<div class="wrapper bg-zinc-50/60 max-w-screen-lg gap-3 mx-auto p-4">
    <div class="wrapper__header">
        <a [routerLink]="bookStockPath" routerLinkActive="selected"
            class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border rounded shadow">
            Book Stock
        </a>
        <a [routerLink]="bookPath" routerLinkActive="selected"
            class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border rounded shadow">
            Books
        </a>
        <a [routerLink]="authorPath" routerLinkActive="selected"
            class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border rounded shadow">
            Authors
        </a>
        <a [routerLink]="genrePath" routerLinkActive="selected"
            class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border rounded shadow">
            Genres
        </a>
        <a [routerLink]="publisherPath" routerLinkActive="selected"
            class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border rounded shadow">
            Publishers
        </a>
        <a routerLink="orders" routerLinkActive="selected"
            class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border rounded shadow">
            Orders
        </a>
        <a routerLink="statistics" routerLinkActive="selected"
            class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border rounded shadow">
            Statistics
        </a>
    </div>

    <div class="wrapper__body w-full">
        <router-outlet></router-outlet>
    </div>
</div>