<button mat-icon-button mat-dialog-close class="close-button">
    <span class="material-icons">close</span>
</button>
<h2 mat-dialog-title>Contact Information</h2>

<mat-dialog-content>
    <form id="client" class="content__form space-y-1" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput type="text" autocomplete="given-name" [formControl]="nameInput" placeholder="John"
                maxlength="256">
            <mat-error
                *ngIf="validateInputField(nameInput).hasError">{{validateInputField(nameInput).message}}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Middle Name</mat-label>
            <input matInput type="text" autocomplete="additional-name" [formControl]="middleNameInput"
                placeholder="Michael" maxlength="256">
            <mat-error
                *ngIf="validateInputField(middleNameInput).hasError">{{validateInputField(middleNameInput).message}}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput type="text" autocomplete="family-name" [formControl]="lastNameInput" placeholder="Doe"
                maxlength="256">
            <mat-error
                *ngIf="validateInputField(lastNameInput).hasError">{{validateInputField(lastNameInput).message}}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="email" autocomplete="email" [formControl]="emailInput" placeholder="example@gmail.com"
                maxlength="256">
            <mat-error
                *ngIf="validateInputField(emailInput).hasError">{{validateInputField(emailInput).message}}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" [formControl]="dateOfBirthInput" [readonly]="true"
                autocomplete="bday">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error
                *ngIf="validateInputField(dateOfBirthInput).hasError">{{validateInputField(dateOfBirthInput).message}}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput type="text" autocomplete="street-address" [formControl]="addressInput"
                placeholder="123 Main St" maxlength="256">
            <mat-error
                *ngIf="validateInputField(addressInput).hasError">{{validateInputField(addressInput).message}}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Phone</mat-label>
            <input matInput type="tel" autocomplete="tel" [formControl]="phoneInput" placeholder="+3801234567"
                maxlength="256">
            <mat-error
                *ngIf="validateInputField(phoneInput).hasError">{{validateInputField(phoneInput).message}}</mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="actions__bottom-container flex-col">
    <button mat-flat-button id="send-button" form="client" type="submit" color="primary"
        class="w-full !bg-green-600">Save</button>
</mat-dialog-actions>