<div class="flex flex-col">
    <ng-container *ngIf="items$ | async as items">
        <ng-container *ngIf="totalAmount$ | async as totalAmount; else loading">
            <app-generic-table [items]="items" [columns]="columns" [totalItemAmount]="totalAmount"
                [disableCreate]="true" (pageChange)="onPageChange($event)" [disableDelete]="true" [disableEdit]="true"
                (editItem)="update($event)">
            </app-generic-table>
        </ng-container>
        <ng-template #loading>
            <app-generic-table [items]="items" [columns]="columns" [totalItemAmount]="0" [disableCreate]="true"
                [disableEdit]="true" (pageChange)="onPageChange($event)" [disableDelete]="true"
                (editItem)="update($event)">
            </app-generic-table>
        </ng-template>
    </ng-container>
</div>