<button mat-icon-button mat-dialog-close class="close-button">
    <span class="material-icons">close</span>
</button>
<h2 mat-dialog-title>Stock Replenishment</h2>

<mat-dialog-content>
    <div class="stockBookChange-body">
        <ng-container *ngFor="let item of items;">
            <div *ngTemplateOutlet="stockBookChange; context: { formGroup: item }"></div>
        </ng-container>
    </div>
    <div class="flex justify-start items-center">
        <button
            class="flex items-center mt-1 pl-4 gap-2 p-2 rounded-lg border text-gray-700 font-bold hover:bg-gray-200 hover:text-blue-700 transition-all duration-200 ease-in-out disabled:bg-gray-200 disabled:text-gray-400 disabled:cursor-not-allowed"
            (click)="addFormGroup()">
            <span>Add</span>
            <span class="!text-2xl text-blue-600 material-icons">add</span>
        </button>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-flat-button id="send-button" type="button" color="primary" (click)="submitForms()">
        Confirm
    </button>
</mat-dialog-actions>

<ng-template #stockBookChange let-formGroup="formGroup">
    <form id="replenishment" [formGroup]="formGroup" class="content__form space-y-1">
        <div class="flex w-full gap-3">
            <div class="flex gap-2 w-9/12">
                <app-book-input [formGroup]="formGroup" class="w-8/12"></app-book-input>
                <mat-form-field class="!w-4/12">
                    <mat-label>Amount</mat-label>
                    <input matInput type="number" appInputRange [min]="1" [max]="maxAmount" [value]="1"
                        formControlName="amount">
                </mat-form-field>
            </div>
            <div class="delete-button flex w-3/12 justify-center items-center">
                <button
                    class="flex items-center pl-4 gap-2 p-2 rounded-lg border text-gray-700 font-bold hover:bg-gray-200 hover:text-blue-700 transition-all duration-200 ease-in-out disabled:bg-gray-200 disabled:text-gray-400 disabled:cursor-not-allowed"
                    (click)="deleteFormGroup(formGroup)">
                    <span>Remove</span>
                    <span class="!text-2xl text-red-600 material-icons">do_not_disturb_on</span>
                </button>
            </div>
        </div>
    </form>
</ng-template>