<ng-container *ngIf="isAuthenticated$ | async; else unauthenticatedView">
    <div class="root">
        <header class="root__header">
            <nav class="bg-white w-full shadow-lg bg-zinc-50/90">
                <div class="max-w-screen-xl flex flex-wrap items-center justify-end mx-auto p-4">
                    <div class="root__toolbar-buttons flex gap-1">
                        <button mat-icon-button (click)="openLoginMenu()">
                            <span class="icon__material-icons material-icons color-white">person</span>
                        </button>
                    </div>
                </div>
            </nav>
        </header>

        <body class="root__body-wrapper m-5">
            <router-outlet></router-outlet>
        </body>
    </div>
</ng-container>

<ng-template #unauthenticatedView>
    <auth-unauthenticated></auth-unauthenticated>
</ng-template>