<ng-container *ngIf="isAuthenticated$ | async; else unauthenticatedView">
    <div class="root">
        <header class="root__header">
            <nav class="w-full shadow-lg bg-zinc-50/90">
                <div
                    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4  shadow-lg bg-slate-200/20">
                    <a routerLink="" class="text-gray-800 font-semibold text-4xl">ELibrary</a>
                    <div class="flex gap-1">
                        <button mat-icon-button (click)="openLoginMenu()">
                            <span class="material-icons">person</span>
                        </button>
                    </div>
                </div>
            </nav>
        </header>

        <body class="root__body-wrapper m-5">
            <router-outlet></router-outlet>
        </body>
    </div>
</ng-container>

<ng-template #unauthenticatedView>
    <auth-unauthenticated></auth-unauthenticated>
</ng-template>