<ng-container *ngIf="authData$ | async as authData">
    @if(authData.isAuthenticated)
    {
    <div class="root">
        <header class="root__header">
            <nav class="w-full shadow-lg bg-zinc-50/90">
                <div
                    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 shadow-lg bg-slate-200/20">
                    <a routerLink="" class="text-gray-800 font-semibold text-4xl">ELibrary</a>
                    <div class="flex gap-2">
                        <button mat-icon-button>
                            <span class="material-icons">shopping_cart</span>
                        </button>
                        @if (checkManagerPolicy(authData.roles)) {
                        <button mat-icon-button>
                            <span class="material-icons">storefront</span>
                        </button>
                        }
                        @if (checkAdminPolicy(authData.roles)) {
                        <button mat-icon-button>
                            <span class="material-icons">admin_panel_settings</span>
                        </button>
                        }
                        <button mat-icon-button (click)="openLoginMenu()">
                            <span class="material-icons">person</span>
                        </button>
                    </div>
                </div>
            </nav>
        </header>

        <body class="root__body-wrapper m-5">
            <router-outlet></router-outlet>
        </body>
    </div>
    }
    @else {
    <auth-unauthenticated></auth-unauthenticated>
    }
</ng-container>