<button mat-icon-button mat-dialog-close class="close-button">
    <span class="material-icons">close</span>
</button>
<h2 mat-dialog-title>Create Account</h2>

<mat-dialog-content>
    <form id="registrationForm" class="content__form space-y-1" [formGroup]="formGroup" (ngSubmit)="registerUser()">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="text" autocomplete="user-email" formControlName="email"
                placeholder="example@gmail.com" maxlength="256">
            <mat-error *ngIf="validateEmailInput.hasError">{{validateEmailInput.message}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" autocomplete="user-password"
                formControlName="password" maxlength="256">
            <span matSuffix class="material-icons me-2" (click)="hidePassword = !hidePassword">
                {{hidePassword
                ? 'visibility_off'
                : 'visibility'
                }}
            </span>
            <mat-error *ngIf="validatePassword.hasError">{{validatePassword.message}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" autocomplete="user-confirm-password"
                formControlName="passwordConfirm" maxlength="256">
            <mat-error *ngIf="validateConfirmPassword.hasError">{{validateConfirmPassword.message}}</mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="actions__bottom-container flex-col">
    <button mat-flat-button id="send-button" form="registrationForm" type="submit" color="primary">Create</button>
</mat-dialog-actions>